<div class="row">
  <div class="col-xs-12">
    <form [formGroup]='new_Recipe' (ngSubmit)="Onsubmit()">
      <div class="row">
        <div class="col-sm-2 ">
          <button *ngIf="!editMode" class="btn btn-primary" type="submit"> Save </button>
          <button *ngIf="editMode" class="btn btn-primary" type="submit" (click)="updata()"> Update </button>
        </div>
        <div class="col-sm-2 ">
          <button class="btn "> Cancel </button>
        </div>
      </div>
      <div class="form-group">
        <label for="name">name</label>

        <input class="form-control" type="text" id="name" name="name" formControlName="nameRecipe">
      </div>
      <div class="form-group">
        <label for="ImgUrl">Image URL</label>
        <input class="form-control" type="text" id="ImgUrl" name="ImgUrl" [(ngModel)]="image_url" formControlName="URLRecipe">
        <div>
            <img *ngIf="image_url" [src]="image_url"  height="42" width="42">
        </div>
      </div>
      <div class="form-group">
        <label for="Description">Description</label>
        <input class="form-control" type="text" id="Description" name="Description" formControlName="DescriptionRecipe">
      </div>
      <div formArrayName='ShoppingList'>
        <hr>
        <label> Shopping List</label>
        <br><br>
        <div 
        *ngFor="let item of new_Recipe.get('ShoppingList').controls; let i=index"
        [formGroupName] = 'i'>
          <div class="col-sm-2 ">
            <label> Food  </label>
            <input class="form-control" 
                   type='text' 
                   formControlName="name">
          </div>

          <div class="col-sm-2 ">
            <label> Amount</label>
            <input class="form-control" 
                   type='text' 
                   
                   formControlName="amount">
          </div>
          <div class="col-sm-1 ">
            <label> Delete</label>
            <button type="button" 
                    class="close" 
                    (click)="del_shopping(i,new_Recipe.get('ShoppingList'))"
                    aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
        <div class="col-sm-2 "><input type="button"  class="btn btn-primary"  (click)="addMoreList()" value="Add Shopping List"> 

      </div>
      <br>
      <br>
      <br>
      <br>
      
      </div>
    </form>
  </div>
</div>