<app-header (featureSelected)="onNavigate($event)"></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-recipes *ngIf="leadedFeature == 'recipe'"></app-recipes>
      <app-shopping-list  *ngIf="leadedFeature !== 'recipe'"></app-shopping-list>
    </div>
  </div>
</div>
