<div class="row">
  <div class="col-xs-12">
    <button 
    class="btn btn-success"

    >New Recipe</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <app-recipe-item *ngFor="let item of recipes" [showrecipes]="item"
    (showDetail) = "display_seleted(item)"></app-recipe-item>
  </div>
</div>

