<a 
href="#"
class="list-group-item clearfix"
(click)="show()">
<div class="pull-left">
  <h4 class="list-group-item-heading" >{{ showrecipes.name }}</h4>
  <p class="list-group-item-text">{{ showrecipes.description }}</p>
</div>
<span class="pull-right">
  <img
    [src]="showrecipes.imagePath"
    alt="{{ showrecipes.name }}"
    class="img-responsive"
    style="max-height: 50px;">
</span>
</a>