  <div class="row">
  <div class="col-xs-12">
    <form [formGroup] = "slgroup"  (ngSubmit) = "onSubmit()">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            class="form-control"
            formControlName = "name" >
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input
            type="number"
            id="amount"
            class="form-control"
            formControlName = "amount">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button *ngIf="!editMode" class="btn btn-success" type="submit" [disabled] = "slgroup.get('name').invalid || slgroup.get('amount').invalid || slgroup.get('name').errors !== null && slgroup.get('name').errors['numberErrorHandle']" >Add</button>
          <button *ngIf="editMode" class="btn btn-success" type="submit" [disabled] = "slgroup.get('name').invalid || slgroup.get('amount').invalid || slgroup.get('name').errors !== null && slgroup.get('name').errors['numberErrorHandle']" >Update</button>

          <button class="btn btn-danger" type="button" (click)="deleteHandle() "  [disabled] ="!editMode">Delete</button>
          <button class="btn btn-primary" type="button" (click)="clearHandle()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
