


<div class="row">
    <div class="col-md-5">
      <app-recipe-list  (recipeWasSelected)="recipeSelecte = $event"
      ></app-recipe-list>
    </div>
    <div class="col-md-7">
      <app-recipe-detail  *ngIf="recipeSelecte; else noselected" [reciple]="recipeSelecte"></app-recipe-detail>
      <ng-template #noselected>
        <p>please select one item</p>
      </ng-template>
      
    </div>
  </div>
  